@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:300,400&display=swap');


.AboutFire-container{
    display: flex;
    justify-content: center;
    text-align: center;

}

.AboutFire-main-text{
    width: 60em;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#AboutFire-main-text-h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #ffcb2d;
    color: white;
    width: 30em;
    padding: 0.4em;
}

#AboutFire-sub-text{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 30em;
    padding: 1em;
    color: slategray;
}

#AboutFire-segway{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    padding: 2em;
    color: slategray;
}


#AboutFire-header-image{
    width: 650px;
    padding: 30px;
}