@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');

#KoalaSection-container{
    display: flex;
}

#KoalaSection-image-container{
   margin: -4em 0em -2em 0em;
     padding: 1em 2em 0em 2em;
}


#KoalaSection-text{
    display: flex;
    align-items: center;
    margin-top: -4em;
}

#Koala-text{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding: 0em 4em 0em 0em;
    color:rgb(168, 57, 57);
    text-align: end;
    text-transform: uppercase;
}

#KoalaSection-image{
    width: 30em;
}