.NavBar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 100px;
}

.NavBar-links{
padding-right: 2em;
}
.kangaroo-icon{
    width: 4.5em;
}

.NavBar-links{
    color: dimgray;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.NavBar-links:hover{
    text-decoration: none;
    color: rgb(214, 185, 52);
}

