.NavBar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 100px;
}

.NavBar-links{
padding-right: 2em;
}
.kangaroo-icon{
    width: 4.5em;
}

.NavBar-links{
    color: green;
    font-size: 16px;
}

.NavBar-links:hover{
    text-decoration: none;
    font-weight: 600;
    color: green;
}

/* .NavBar-links:last-child{
   
} */